# **SERIES**

In [3]:
# import pandas library
import pandas as pd

#import numpy library
import numpy as np

In [ ]:
# A- 1-D data

series = pd.Series()
# Newline to separate series print statement
print('{}\n'.format(series))

series = pd.Series(5)
print('{}\n'.format(series))

series = pd.Series([1, 2, 3])
print('{}\n'.format(series))

series = pd.Series([1, 2.2])      # upcasting
print('{}\n'.format(series))

arr = np.array([1, 2])
series = pd.Series(arr, dtype=np.float32)
print('{}\n'.format(series))

series = pd.Series([[1, 2], [3, 4]])
print('{}\n'.format(series))

Series([], dtype: float64)

0    5
dtype: int64

0    1
1    2
2    3
dtype: int64

0    1.0
1    2.2
dtype: float64

0    1.0
1    2.0
dtype: float32

0    [1, 2]
1    [3, 4]
dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# B- Index

series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print('{}\n'.format(series))

series = pd.Series([1, 2, 3], index=['a', 8, 0.3])
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

a      1
8      2
0.3    3
dtype: int64

In [ ]:
# C- Dictionary Input

series = pd.Series({'a': 1, 'b': 2, 'c': 3})
print('{}\n'.format(series))

series = pd.Series({'b': 2, 'a': 1, 'c':3})
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

b    2
a    1
c    3
dtype: int64

# **DATA FRAME**

In [ ]:
# A- 2-D data

df = pd.DataFrame()
# Newline added to separate DataFrames
print('{}\n'.format(df))

df = pd.DataFrame([5, 6])
print('{}\n'.format(df))

df = pd.DataFrame([[5, 6]])
print('{}\n'.format(df))

df = pd.DataFrame([[5, 6], [1, 3]],
                  index = ['r1', 'r2'],
                  columns=['c1', 'c2'])
print('{}\n'.format(df))

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4]},
                  index=['r1', 'r2'])
print('{}\n'.format(df))

Empty DataFrame
Columns: []
Index: []

   0
0  5
1  6

   0  1
0  5  6

    c1  c2
r1   5   6
r2   1   3

    c1  c2
r1   1   3
r2   2   4

In [ ]:
# B- Upcasting

upcast = pd.DataFrame([[5, 6], [1.2, 3]])
print('{}\n'.format(upcast))
# Datatypes of each column
print(upcast.dtypes)

     0  1
0  5.0  6
1  1.2  3

0    float64
1      int64
dtype: object

In [ ]:
# C- Appending rows

df = pd.DataFrame([[5, 6], [1.2, 3]])
ser = pd.Series([0, 0], name='r3')

df_app = df.append(ser)
print('{}\n'.format(df_app))

df_app = df.append(ser, ignore_index=True)
print('{}\n'.format(df_app))

df2 = pd.DataFrame([[0, 0], [9, 9]])
df_app = df.append(df2)
print('{}\n'.format(df_app))

      0  1
0   5.0  6
1   1.2  3
r3  0.0  0

     0  1
0  5.0  6
1  1.2  3
2  0.0  0

     0  1
0  5.0  6
1  1.2  3
0  0.0  0
1  9.0  9

In [ ]:
# D- Dropping Data

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]}, index=['r1', 'r2'])

# Drop row r1
df_drop = df.drop(labels='r1')
print('{}\n'.format(df_drop))

# Drop culumns c1, c3
#df_drop = df.drop(columns=['c1', 'c3'])
# or 
df_drop = df.drop(labels=['c1', 'c3'], axis=1)
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2')
print('{}\n'.format(df_drop))

df_drop = df.drop(columns='c2')
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2', columns='c2')
print('{}\n'.format(df_drop))

    c1  c2  c3
r2   2   4   6

    c2
r1   3
r2   4

    c1  c2  c3
r1   1   3   5

    c1  c3
r1   1   5
r2   2   6

    c1  c3
r1   1   5

# **COMBINING**

In [ ]:
# A- Combining

df1 = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4]},
                    index = ['r1', 'r2'])

df2 = pd.DataFrame({'c1': [5, 6], 'c2': [7, 8]},
                   index = ['r1', 'r2'])
df3 = pd.DataFrame({'c1': [5, 6], 'c2': [7, 8]})

concat = pd.concat([df1, df2], axis = 1)
print('{}\n'.format(concat))

concat = pd.concat([df2, df1, df3])
print('{}\n'.format(concat))


concat = pd.concat([df1, df3], axis=1)
print('{}\n'.format(concat))

    c1  c2  c1  c2
r1   1   3   5   7
r2   2   4   6   8

    c1  c2
r1   5   7
r2   6   8
r1   1   3
r2   2   4
0    5   7
1    6   8

     c1   c2   c1   c2
r1  1.0  3.0  NaN  NaN
r2  2.0  4.0  NaN  NaN
0   NaN  NaN  5.0  7.0
1   NaN  NaN  6.0  8.0

In [ ]:
# B- Merging

mlb_df1 = pd.DataFrame({'name': ['john doe', 'al smith', 'sam black', 'john doe'],
                        'pos': ['1B', 'C', 'P', '2B'],
                        'year': [2000, 2004, 2008, 2003]})

mlb_df2 = pd.DataFrame({'name': ['john doe', 'al smith', 'jack lee'],
                        'year': [2000, 2004, 2012],
                        'rbi': [80, 100, 12]})

print('{}\n'.format(mlb_df1))
print('{}\n'.format(mlb_df2))

mlb_merged = pd.merge(mlb_df1, mlb_df2)
print('{}\n'.format(mlb_merged))

        name pos  year
0   john doe  1B  2000
1   al smith   C  2004
2  sam black   P  2008
3   john doe  2B  2003

       name  year  rbi
0  john doe  2000   80
1  al smith  2004  100
2  jack lee  2012   12

       name pos  year  rbi
0  john doe  1B  2000   80
1  al smith   C  2004  100

# **INDEXING**

In [ ]:
# A- Direct Indexing

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]}, index = ['r1', 'r2'])

col1 = df['c2']
print('{}\n'.format(col1))

col1_df = df[['c1']]
print('{}\n'.format(col1_df))

col23 = df[['c2', 'c3']]
print('{}\n'.format(col23))

r1    3
r2    4
Name: c2, dtype: int64

    c1
r1   1
r2   2

    c2  c3
r1   3   5
r2   4   6

In [ ]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index = ['r1', 'r2', 'r3'])

print('{}\n'.format(df))

first_two_rows = df[0:2]
print('{}\n'.format(first_two_rows))

last_two_rows = df['r2': 'r3']
print('{}\n'.format(last_two_rows))

# Result in KeyError
#df['r1']

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

    c1  c2  c3
r1   1   4   7
r2   2   5   8

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [ ]:
# B- Other indexing

df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index = ['r1', 'r2', 'r3'])

print('{}\n'.format(df))

print('{}\n'.format(df.iloc[1]))

print('{}\n'.format(df.iloc[[0, 2]]))

bool_list = [False, True, True]
print('{}\n'.format(df.iloc[bool_list]))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r1   1   4   7
r3   3   6   9

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [ ]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index = ['r1', 'r2', 'r3'])

print('{}\n'.format(df))

print('{}\n'.format(df.loc['r2']))

bool_list = [False, True, True]
print('{}\n'.format(df.loc[bool_list]))

signal_val = df.loc['r1', 'c2']
print('Signal val: {}\n'.format(signal_val))

print('{}\n'.format(df.loc[['r1', 'r3'], 'c2']))

df.loc[['r1', 'r3'], 'c2'] = 0
print('{}\n'.format(df))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r2   2   5   8
r3   3   6   9

Signal val: 4

r1    4
r3    6
Name: c2, dtype: int64

    c1  c2  c3
r1   1   0   7
r2   2   5   8
r3   3   0   9

# **FILE I/O**

In [ ]:
# A- reading Data
# CSV

# data.csv contains baseball data
df = pd.read_csv('data.csv')
print('{}\n'.format(df))

df = pd.read_csv('data.csv', index_col=0)
print('{}\n'.format(df))

df = pd.read_csv('data.csv', index_col=1)
print('{}\n'.format(df))

   HR       name pos
0  17  joe smith  2B
1  28  alan west   C
2  19   john doe   P

         name pos
HR
17  joe smith  2B
28  alan west   C
19   john doe   P

           HR pos
name
joe smith  17  2B
alan west  28   C
john doe   19   P

In [ ]:
# EXECL. (need files to do that)

# data.xlsv contains baseball data
fd = pd.read_excel('data.xlsx')
print('{}\n'.format(df))

# sheet 1
print('sheet 1 (0-indexed) dataFrame:')
df = pd.read_excel('data.xlsx', sheet_name=1)
print('{}\n'.format(df))

# sheet MIL
print('MIL DataFrame:')
df = pd.read_excel('data.xlsx', sheet_name='MIL')
print('{}\n'.format(df))

# sheet 0 and 1
print('sheet 1 (0-indexed) dataFrame:')
df = pd.read_excel('data.xlsx', sheet_name=[0, 1])
print('{}\n'.format(df))

# All sheets
df_dict = pd.read_excel('data.xlsx', sheet_name=None)
print('{}\n'.format(df))

In [ ]:
# JSON. (need files to do that)

# data is the JSON data(as Python dict)
print('{}\n'.format(data))

df1 = pd.read_json('data.json')
print('{}\n'.format(df1))

df2 = pd.read_json('data.json', orient='index')
print('{}\n'.format(df2))

In [ ]:
# Writing to files
# CSV

# Predefined mlb_df
print('{}\n'.format(df))

# Index is kept when writing
df.to_csv('data.csv')
df = pd.read_csv('data.csv')
print('{}\n'.format(df))

# Index is not kept when writing
df.to_csv('data.csv', index=False)
df = pd.read_csv('data.csv')
print('{}\n'.format(df))

   Unnamed: 0       name  HR pos
0           0  joe smith  17  2B
1           1  alan west  28   C
2           2   john doe  19   P

   Unnamed: 0  Unnamed: 0.1       name  HR pos
0           0             0  joe smith  17  2B
1           1             1  alan west  28   C
2           2             2   john doe  19   P

   Unnamed: 0  Unnamed: 0.1       name  HR pos
0           0             0  joe smith  17  2B
1           1             1  alan west  28   C
2           2             2   john doe  19   P

In [ ]:
# EXCEL. (need files to do that)

# Predefined DataFrames
print('{}\n'.format(mlb_df1))
print('{}\n'.format(mlb_df2))

with pd.ExcelWriter('data.xlsx') as writer:
  mlb_df1.to_excel(writer, index=False, sheet_name='NYY')
  mlb_df2.to_excel(writer, index=False, sheet_name='BOS')
  
df_dict = pd.read_excel('data.xlsx', sheet_name=None)
print(df_dict.keys())
print('{}\n'.format(df_dict['BOS']))

In [ ]:
# JSON. (need files to do that)

# Predefined df
print('{}\n'.format(df))

df.to_json('data.json')
df2 = pd.read_json('data.json')
print('{}\n'.format(df2))

df.to_json('data.json', orient='index')
df2 = pd.read_json('data.json')
print('{}\n'.format(df2))
df2 = pd.read_json('data.json', orient='index')
print('{}\n'.format(df2))

# **GROUPING**

In [6]:
# A- Grouping by column

# predifined df of MLB stats (for me its not i did it my self)
df = pd.read_csv('grouping.csv')
print('{}\n'.format(df))

# grous by yearID
groups = df.groupby('yearID')
for name, group in groups:
  print('Year: {}'.format(name))
  print('{}\n'.format(group))

# getgroup 
print('Group 2016:\n{}\n'.format(groups.get_group(2016)))
print('SUM:\n{}\n'.format(groups.sum()))
print('MEAN:\n{}\n'.format(groups.mean()))

   yearID teamID     H    R
0    2017    CLE  1449  818
1    2015    CLE  1395  669
2    2016    BOS  1598  878
3    2015    DET  1515  689
4    2016    DET  1476  750
5    2016    CLE  1435  777
6    2015    BOS  1495  748
7    2017    BOS  1461  785

Year: 2015
   yearID teamID     H    R
1    2015    CLE  1395  669
3    2015    DET  1515  689
6    2015    BOS  1495  748

Year: 2016
   yearID teamID     H    R
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777

Year: 2017
   yearID teamID     H    R
0    2017    CLE  1449  818
7    2017    BOS  1461  785

Group 2016:
   yearID teamID     H    R
2    2016    BOS  1598  878
4    2016    DET  1476  750
5    2016    CLE  1435  777

SUM:
           H     R
yearID
2015    4405  2106
2016    4509  2405
2017    2910  1603

MEAN:
                  H           R
yearID
2015    1468.333333  702.000000
2016    1503.000000  801.666667
2017    1455.000000  801.500000

In [9]:
# filter
no2015 = groups.filter(lambda x: x.name > 2015)
print(no2015)

  teamID     H    R
0    CLE  1449  818
2    BOS  1598  878
4    DET  1476  750
5    CLE  1435  777
7    BOS  1461  785

In [11]:
# B- Multiple Columns

# define player_df
player_df = pd.read_csv('player.csv')

groups = player_df.groupby(['yearID', 'teamID'])

for name, group in groups:
  print('Year, Team: {}',format(name))
  print('{}\n'.format(group))

print(groups.sum())

Year, Team: {} (2016, 'BOS')
   yearID   playerID teamID    H
1    2016  bettsmo01    BOS  214
2    2016  bogaexa01    BOS  192
4    2016  pedrodu01    BOS  201

Year, Team: {} (2016, 'HOU')
   yearID   playerID teamID    H
0    2016  altuvjo01    HOU  216
3    2016  correca01    HOU  158

Year, Team: {} (2017, 'BOS')
   yearID   playerID teamID    H
6    2017  bettsmo01    BOS  166
7    2017  bogaexa01    BOS  156
9    2017  pedrodu01    BOS  119

Year, Team: {} (2017, 'HOU')
   yearID   playerID teamID    H
5    2017  altuvjo01    HOU  204
8    2017  correca01    HOU  133

                 H
yearID teamID
2016   BOS     607
       HOU     374
2017   BOS     441
       HOU     337

# **FEATURES**

In [ ]:
# A- Quantitive vs Categorical

# A quantitative feature, e.g. height or weight, is a feature that can be measured numerically. These are features we could calculate the sum, mean, or other numerical metrics for.
# A categorical feature, e.g. gender or birthplace, is one where the values are categories that could be used to group the dataset. These are the features we would use with the groupby function.

In [12]:
# B- Quantitive Features

df = pd.DataFrame({
    'T1': [10, 15, 8],
    'T2': [25, 27, 25],
    'T3': [16, 15, 10]})

print('{}\n'.format(df))

print('{}\n'.format(df.sum()))

print('{}\n'.format(df.sum(axis=1)))

print('{}\n'.format(df.mean()))

print('{}\n'.format(df.mean(axis=1)))

   T1  T2  T3
0  10  25  16
1  15  27  15
2   8  25  10

T1    33
T2    77
T3    41
dtype: int64

0    51
1    57
2    43
dtype: int64

T1    11.000000
T2    25.666667
T3    13.666667
dtype: float64

0    17.000000
1    19.000000
2    14.333333
dtype: float64

In [15]:
# C- Weighted Features

df = pd.DataFrame({
    'T1': [0.1, 150.],
    'T2': [0.25, 240.],
    'T3': [0.16, 100.]})

print('{}\n'.format(df))

print('df multiplied by 2:\n{}\n'.format(df.multiply(2)))

df_ms = df.multiply([100, 1], axis=0)
print('df_ms: df multiplied by [100, 1]:\n{}\n'.format(df_ms))

df_w = df_ms.multiply([1, 0.5, 1])
print('df_w: df_ms multiplied by [1, 05, 1]:\n{}\n'.format(df_w))
print('Sum of df_w:\n{}\n'.format(df_w.sum(axis=1)))

      T1      T2      T3
0    0.1    0.25    0.16
1  150.0  240.00  100.00

df multiplied by 2:
      T1     T2      T3
0    0.2    0.5    0.32
1  300.0  480.0  200.00

df_ms: df multiplied by [100, 1]:
      T1     T2     T3
0   10.0   25.0   16.0
1  150.0  240.0  100.0

df_w: df_ms multiplied by [1, 05, 1]:
      T1     T2     T3
0   10.0   12.5   16.0
1  150.0  120.0  100.0

Sum of df_w:
0     38.5
1    370.0
dtype: float64

# **FILTERING**

In [5]:
# A- Filter Conditions


df = pd.DataFrame({
    'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
    'yearID': [2016, 2016, 2016, 2016, 2017],
    'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
    'HR': [31, 39, 43, 38, 39]})

print('{}\n'.format(df))

cruzne02 = df['playerID'] == 'cruzne02'
print('Player cruzene02 filter:\n{}\n'.format(cruzne02))

hr40 = df['HR'] > 40
print('HR > 40:\n{}\n'.format(hr40))

notbos = df['teamID'] != 'BOS'
print('Teams not BOS:\n{}\n'.format(notbos))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

Player cruzene02 filter:
0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

HR > 40:
0    False
1    False
2     True
3    False
4    False
Name: HR, dtype: bool

Teams not BOS:
0    False
1     True
2     True
3    False
4     True
Name: teamID, dtype: bool

In [9]:
# B- Filter from Functions

df = pd.DataFrame({
    'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
    'yearID': [2016, 2016, 2016, 2016, 2017],
    'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
    'HR': [31, 39, 43, 38, 39]})

print('{}\n'.format(df))

str_f1 = df['playerID'].str.startswith('c')
print('Player names starts with "c":\n{}\n'.format(str_f1))


str_f2 = df['playerID'].str.endswith('s')
print('Player names end with "s":\n{}\n'.format(str_f2))


str_f3 = ~df['playerID'].str.contains('o')
print('Player names does\'nt contain "o":\n{}\n'.format(str_f3))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

Player names starts with "c":
0    False
1     True
2     True
3    False
4     True
Name: playerID, dtype: bool

Player names end with "s":
0    False
1    False
2    False
3    False
4    False
Name: playerID, dtype: bool

Player names does'nt contain "o":
0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

In [11]:
# second part

df = pd.DataFrame({
    'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
    'yearID': [2016, 2016, 2016, 2016, 2017],
    'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
    'HR': [31, 39, 43, 38, 39]})

print('{}\n'.format(df))

isin_f1 = df['playerID'].isin(['cruzne02', 'ortizda01'])
print('{}\n'.format(isin_f1))

isin_f2 = df['yearID'].isin([2015, 2017])
print('{}\n'.format(isin_f2))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

0    False
1    False
2     True
3     True
4     True
Name: playerID, dtype: bool

0    False
1    False
2    False
3    False
4     True
Name: yearID, dtype: bool

In [14]:
# third part

df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'doejo01'],
  'yearID': [2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', np.nan],
  'HR': [31, 39, 99]})

print('{}\n'.format(df))

# isna() to test if its NaN
isna = df['teamID'].isna()
print('{}\n'.format(isna))

# notna to test a non NaN
notna = df['teamID'].notna()
print('{}\n'.format(notna))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2    doejo01    2017    NaN  99

0    False
1    False
2     True
Name: teamID, dtype: bool

0     True
1     True
2    False
Name: teamID, dtype: bool

In [17]:
# C- Feature Filtering

df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'bettsmo01'],
  'yearID': [2016, 2016, 2016, 2016, 2015],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'BOS'],
  'HR': [31, 39, 43, 38, 18]})

print('{}\n'.format(df))

hr40_df = df[df['HR'] > 40]
print('Players with HR > 40:\n{}\n'.format(hr40_df))

not_hr30_df = df[~(df['HR'] > 30)]
print('players with hr < 30:\n{}\n'.format(not_hr30_df))

str_df = df[df['teamID'].str.startswith('B')]
print('players team starts with "B":\n{}\n'.format(str_df))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18

Players with HR > 40:
   playerID  yearID teamID  HR
2  cruzne02    2016    SEA  43

players with hr < 30:
    playerID  yearID teamID  HR
4  bettsmo01    2015    BOS  18

players team starts with "B":
    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18