# **SERIES**

In [7]:
# import pandas library
import pandas as pd

#import numpy library
import numpy as np

In [8]:
# A- 1-D data

series = pd.Series()
# Newline to separate series print statement
print('{}\n'.format(series))

series = pd.Series(5)
print('{}\n'.format(series))

series = pd.Series([1, 2, 3])
print('{}\n'.format(series))

series = pd.Series([1, 2.2])      # upcasting
print('{}\n'.format(series))

arr = np.array([1, 2])
series = pd.Series(arr, dtype=np.float32)
print('{}\n'.format(series))

series = pd.Series([[1, 2], [3, 4]])
print('{}\n'.format(series))

Series([], dtype: float64)

0    5
dtype: int64

0    1
1    2
2    3
dtype: int64

0    1.0
1    2.2
dtype: float64

0    1.0
1    2.0
dtype: float32

0    [1, 2]
1    [3, 4]
dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
# B- Index

series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print('{}\n'.format(series))

series = pd.Series([1, 2, 3], index=['a', 8, 0.3])
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

a      1
8      2
0.3    3
dtype: int64

In [11]:
# C- Dictionary Input

series = pd.Series({'a': 1, 'b': 2, 'c': 3})
print('{}\n'.format(series))

series = pd.Series({'b': 2, 'a': 1, 'c':3})
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

b    2
a    1
c    3
dtype: int64

# **DATA FRAME**

In [12]:
# A- 2-D data

df = pd.DataFrame()
# Newline added to separate DataFrames
print('{}\n'.format(df))

df = pd.DataFrame([5, 6])
print('{}\n'.format(df))

df = pd.DataFrame([[5, 6]])
print('{}\n'.format(df))

df = pd.DataFrame([[5, 6], [1, 3]],
                  index = ['r1', 'r2'],
                  columns=['c1', 'c2'])
print('{}\n'.format(df))

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4]},
                  index=['r1', 'r2'])
print('{}\n'.format(df))

Empty DataFrame
Columns: []
Index: []

   0
0  5
1  6

   0  1
0  5  6

    c1  c2
r1   5   6
r2   1   3

    c1  c2
r1   1   3
r2   2   4

In [13]:
# B- Upcasting

upcast = pd.DataFrame([[5, 6], [1.2, 3]])
print('{}\n'.format(upcast))
# Datatypes of each column
print(upcast.dtypes)

     0  1
0  5.0  6
1  1.2  3

0    float64
1      int64
dtype: object

In [14]:
# C- Appending rows

df = pd.DataFrame([[5, 6], [1.2, 3]])
ser = pd.Series([0, 0], name='r3')

df_app = df.append(ser)
print('{}\n'.format(df_app))

df_app = df.append(ser, ignore_index=True)
print('{}\n'.format(df_app))

df2 = pd.DataFrame([[0, 0], [9, 9]])
df_app = df.append(df2)
print('{}\n'.format(df_app))

      0  1
0   5.0  6
1   1.2  3
r3  0.0  0

     0  1
0  5.0  6
1  1.2  3
2  0.0  0

     0  1
0  5.0  6
1  1.2  3
0  0.0  0
1  9.0  9

In [20]:
# D- Dropping Data

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]}, index=['r1', 'r2'])

# Drop row r1
df_drop = df.drop(labels='r1')
print('{}\n'.format(df_drop))

# Drop culumns c1, c3
#df_drop = df.drop(columns=['c1', 'c3'])
# or 
df_drop = df.drop(labels=['c1', 'c3'], axis=1)
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2')
print('{}\n'.format(df_drop))

df_drop = df.drop(columns='c2')
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2', columns='c2')
print('{}\n'.format(df_drop))

    c1  c2  c3
r2   2   4   6

    c2
r1   3
r2   4

    c1  c2  c3
r1   1   3   5

    c1  c3
r1   1   5
r2   2   6

    c1  c3
r1   1   5

# **COMBINING**

In [26]:
# A- Combining

df1 = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4]},
                    index = ['r1', 'r2'])

df2 = pd.DataFrame({'c1': [5, 6], 'c2': [7, 8]},
                   index = ['r1', 'r2'])
df3 = pd.DataFrame({'c1': [5, 6], 'c2': [7, 8]})

concat = pd.concat([df1, df2], axis = 1)
print('{}\n'.format(concat))

concat = pd.concat([df2, df1, df3])
print('{}\n'.format(concat))


concat = pd.concat([df1, df3], axis=1)
print('{}\n'.format(concat))

    c1  c2  c1  c2
r1   1   3   5   7
r2   2   4   6   8

    c1  c2
r1   5   7
r2   6   8
r1   1   3
r2   2   4
0    5   7
1    6   8

     c1   c2   c1   c2
r1  1.0  3.0  NaN  NaN
r2  2.0  4.0  NaN  NaN
0   NaN  NaN  5.0  7.0
1   NaN  NaN  6.0  8.0

In [30]:
# B- Merging

mlb_df1 = pd.DataFrame({'name': ['john doe', 'al smith', 'sam black', 'john doe'],
                        'pos': ['1B', 'C', 'P', '2B'],
                        'year': [2000, 2004, 2008, 2003]})

mlb_df2 = pd.DataFrame({'name': ['john doe', 'al smith', 'jack lee'],
                        'year': [2000, 2004, 2012],
                        'rbi': [80, 100, 12]})

print('{}\n'.format(mlb_df1))
print('{}\n'.format(mlb_df2))

mlb_merged = pd.merge(mlb_df1, mlb_df2)
print('{}\n'.format(mlb_merged))

        name pos  year
0   john doe  1B  2000
1   al smith   C  2004
2  sam black   P  2008
3   john doe  2B  2003

       name  year  rbi
0  john doe  2000   80
1  al smith  2004  100
2  jack lee  2012   12

       name pos  year  rbi
0  john doe  1B  2000   80
1  al smith   C  2004  100

# **INDEXING**

In [35]:
# A- Direct Indexing

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]}, index = ['r1', 'r2'])

col1 = df['c2']
print('{}\n'.format(col1))

col1_df = df[['c1']]
print('{}\n'.format(col1_df))

col23 = df[['c2', 'c3']]
print('{}\n'.format(col23))

r1    3
r2    4
Name: c2, dtype: int64

    c1
r1   1
r2   2

    c2  c3
r1   3   5
r2   4   6

In [38]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index = ['r1', 'r2', 'r3'])

print('{}\n'.format(df))

first_two_rows = df[0:2]
print('{}\n'.format(first_two_rows))

last_two_rows = df['r2': 'r3']
print('{}\n'.format(last_two_rows))

# Result in KeyError
#df['r1']

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

    c1  c2  c3
r1   1   4   7
r2   2   5   8

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [41]:
# B- Other indexing

df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index = ['r1', 'r2', 'r3'])

print('{}\n'.format(df))

print('{}\n'.format(df.iloc[1]))

print('{}\n'.format(df.iloc[[0, 2]]))

bool_list = [False, True, True]
print('{}\n'.format(df.iloc[bool_list]))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r1   1   4   7
r3   3   6   9

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [42]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index = ['r1', 'r2', 'r3'])

print('{}\n'.format(df))

print('{}\n'.format(df.loc['r2']))

bool_list = [False, True, True]
print('{}\n'.format(df.loc[bool_list]))

signal_val = df.loc['r1', 'c2']
print('Signal val: {}\n'.format(signal_val))

print('{}\n'.format(df.loc[['r1', 'r3'], 'c2']))

df.loc[['r1', 'r3'], 'c2'] = 0
print('{}\n'.format(df))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r2   2   5   8
r3   3   6   9

Signal val: 4

r1    4
r3    6
Name: c2, dtype: int64

    c1  c2  c3
r1   1   0   7
r2   2   5   8
r3   3   0   9

# **FILE I/O**

In [58]:
# A- reading Data
# CSV

# data.csv contains baseball data
df = pd.read_csv('data.csv')
print('{}\n'.format(df))

df = pd.read_csv('data.csv', index_col=0)
print('{}\n'.format(df))

df = pd.read_csv('data.csv', index_col=1)
print('{}\n'.format(df))

   HR       name pos
0  17  joe smith  2B
1  28  alan west   C
2  19   john doe   P

         name pos
HR
17  joe smith  2B
28  alan west   C
19   john doe   P

           HR pos
name
joe smith  17  2B
alan west  28   C
john doe   19   P

In [ ]:
# EXECL. (need files to do that)

# data.xlsv contains baseball data
fd = pd.read_excel('data.xlsx')
print('{}\n'.format(df))

# sheet 1
print('sheet 1 (0-indexed) dataFrame:')
df = pd.read_excel('data.xlsx', sheet_name=1)
print('{}\n'.format(df))

# sheet MIL
print('MIL DataFrame:')
df = pd.read_excel('data.xlsx', sheet_name='MIL')
print('{}\n'.format(df))

# sheet 0 and 1
print('sheet 1 (0-indexed) dataFrame:')
df = pd.read_excel('data.xlsx', sheet_name=[0, 1])
print('{}\n'.format(df))

# All sheets
df_dict = pd.read_excel('data.xlsx', sheet_name=None)
print('{}\n'.format(df))

In [ ]:
# JSON. (need files to do that)

# data is the JSON data(as Python dict)
print('{}\n'.format(data))

df1 = pd.read_json('data.json')
print('{}\n'.format(df1))

df2 = pd.read_json('data.json', orient='index')
print('{}\n'.format(df2))

In [61]:
# Writing to files
# CSV

# Predefined mlb_df
print('{}\n'.format(df))

# Index is kept when writing
df.to_csv('data.csv')
df = pd.read_csv('data.csv')
print('{}\n'.format(df))

# Index is not kept when writing
df.to_csv('data.csv', index=False)
df = pd.read_csv('data.csv')
print('{}\n'.format(df))

   Unnamed: 0       name  HR pos
0           0  joe smith  17  2B
1           1  alan west  28   C
2           2   john doe  19   P

   Unnamed: 0  Unnamed: 0.1       name  HR pos
0           0             0  joe smith  17  2B
1           1             1  alan west  28   C
2           2             2   john doe  19   P

   Unnamed: 0  Unnamed: 0.1       name  HR pos
0           0             0  joe smith  17  2B
1           1             1  alan west  28   C
2           2             2   john doe  19   P

In [ ]:
# EXCEL. (need files to do that)

# Predefined DataFrames
print('{}\n'.format(mlb_df1))
print('{}\n'.format(mlb_df2))

with pd.ExcelWriter('data.xlsx') as writer:
  mlb_df1.to_excel(writer, index=False, sheet_name='NYY')
  mlb_df2.to_excel(writer, index=False, sheet_name='BOS')
  
df_dict = pd.read_excel('data.xlsx', sheet_name=None)
print(df_dict.keys())
print('{}\n'.format(df_dict['BOS']))

In [ ]:
# JSON. (need files to do that)

# Predefined df
print('{}\n'.format(df))

df.to_json('data.json')
df2 = pd.read_json('data.json')
print('{}\n'.format(df2))

df.to_json('data.json', orient='index')
df2 = pd.read_json('data.json')
print('{}\n'.format(df2))
df2 = pd.read_json('data.json', orient='index')
print('{}\n'.format(df2))

# **GROUPING**

In [ ]:
# A- Grouping by column

# predifinesdf of MLB stats